/*Theme Colors*/

$themeColorPrimary :  rgb(255, 18, 58);
$themeColorSecondary : rgb(167, 2, 16);
$themeColorLightPrimary : rgb(242, 242, 242);
$themeColorLightSecondary :rgb(226, 226, 226);
$themeColorLightTerciary : rgb(255, 255, 255);
$themeColorLightQuaternary :  rgb(213, 213, 213);
$themeColorDarkPrimary :  #444a51;
$themeColorDarkSecondary :  #212529;
$themeColorDarkTerciary : #131517;
$themeColorDarkQuaternary : rgb(22, 6, 6);
