@use "./components/dashboard_card";
@use "./components/sidebar";
@use "./components/modal";

.isNotAvailable{
    filter: opacity(0.30);
}
.btn-list-div{
    display: flex;
    @media (max-width: 801px) {
            display: inline;
    }
}
.main-div{
    margin-top: -16px;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    .content-div{
        overflow-y: scroll;
        width: 100%;
        display: flex;
        justify-content: center;
        .display-content{
            margin-top: 30px;
            width: 90%;
            height: 90%;
        }
    }
}
